<nav class="navbar" [class.show]="navService.navbarCollapsed">
  <div class="navbar-overlay" (click)="onToggleCollapse()"></div>
  <div class="navbar-head">
    <img src="assets/logo-material.png" alt="">
  </div>
  <ul class="navbar-list">
    <li>
      <a (click)="navService.toggleNav()" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" routerLink="/">
        <fa name="home"></fa>Home
      </a>
    </li>
    <li>
      <a (click)="navService.toggleNav()" routerLinkActive="active" routerLink="/people">
        <fa name="users"></fa>Persone
      </a>
    </li>
    <li>
      <a (click)="navService.toggleNav()" routerLinkActive="active" routerLink="/words">
        <fa name="font"></fa>
        Parole
      </a>
    </li>
    <li>
      <a (click)="navService.toggleNav()" routerLinkActive="active" routerLink="/points">
        <fa name="comment"></fa>
        Punti
      </a>
    </li>
    <li *ngIf="false">
      <a (click)="navService.toggleNav()" routerLinkActive="active" routerLink="/winners">
        <fa name="trophy"></fa>
        Winners
      </a>
    </li>
  </ul>
</nav>