<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink='/'>LALISTA</a>
  <button class="navbar-toggler" (click)="onToggleCollapse()" [class.collapsed]="navbarCollapsed" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="navbarCollapsed" id="navbarNav" navbarNav>
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:
        true}">Home</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/people">Persone</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/words">Parole</a>
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="/points">Punti</a>
    </div>
  </div>
</nav>