.main-container {

  @media (min-width: 992px) {
    display: grid;
    grid-template-areas:
    "nav top-bar"
    "nav content-wrapper";
    grid-template-columns: 250px auto;
    grid-template-rows: 56px auto;
  }
}

.content-wrapper {
  grid-area: content-wrapper;
  padding-top: 4.5rem;

  @media (min-width: 992px) {
    padding-top: 1rem;
  }
}

app-top-bar {
  grid-area: top-bar;
  z-index: 100;
  position: fixed;
  top: 0;
  z-index: 100;
  right: 0;
  left: 0;

  @media (min-width: 992px) {
    left: 250px;
  }
}

app-nav {
  grid-area: nav;
}