<h1 class="mb-3">Persone</h1>

<form (ngSubmit)="onSubmit(name)">
  <div class="d-flex form-group">
    <input type="text" class="form-control" id="personName" #name placeholder="Aggiungi una persona a LaLista">
    <button  class="btn btn-primary">Aggiungi</button>
  </div>
</form>


<ul class="list-group">
  <li class="list-group-item" *ngFor="let person of people; let i = index">
    {{person.name}}

    <span class="float-right">
      <button type="button" class="btn btn-link" (click)="onDelete(i)"><fa name="trash"></fa></button>
    </span>
  </li>
</ul>
