<div class="row">
  <div class="col-sm-6">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let point of points; let i = index">
        <strong>{{point.person.name}}</strong> ha detto <strong>{{point.word.name}}</strong><br>
        <small class="text-muted">Segnata alle {{point.createdAt | date: 'HH:mm'}} del {{point.createdAt | date: 'dd/MM'}}</small>
        <span class="float-right">
          <button type="button" class="btn btn-link" (click)="onDelete(i)"><fa name="trash"></fa></button>
        </span>
      </li>
    </ul>
  </div>
</div>


<div class="btn-float-group">
  <button routerLink="../new-point" class="btn btn-primary btn-lg">
    <fa name="plus"></fa>
  </button>
</div>