
<div class="row">
  <div class="col-sm-12 col-md-3">
    <div class="cover-image-wrapper">
      <div *ngIf="coverImageFetched && !coverImageUrl" class="cover-image-placeholder mb-3" (click)="onNewImage()">
        Clicca per caricare un'immagine
      </div>
      <div *ngIf="coverImageUrl" class="text-center">
        <img [src]="coverImageUrl" alt="" class="cover-image mb-3" (click)="onNewImage()" alt="Click to update image" #coverImage>
      </div>
      <form (ngSubmit)="onCreateImage(url)" *ngIf="coverImageFormActive" class="cover-image-form">
        <div class="d-flex form-group">
          <input type="text" class="form-control" id="coverImageUrl" #url placeholder="Url dell'immagine">
            <button  class="btn btn-primary"><fa name="plus"></fa></button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-12 col-md-9">
    <div class="list-group">
      <a
        [routerLink]="'people/' + rank.person.id"
        *ngFor="let rank of ranking; let i = index"
        class="list-group-item list-group-item-action">
        <div
          class="d-flex justify-content-between"
          [class.first]="i === 0" >
          <div class="detail">
            {{i+1}}.
            {{rank.person.name}}
          </div>
          <div class="pointsCount">
            {{rank.pointsCount}}
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div *ngIf="false" class="btn-float-group">
  <button routerLink="../new-point" class="btn btn-primary btn-lg">
    <fa name="plus"></fa>
  </button>
</div>
