<div class="d-flex justify-content-between align-items-baseline mb-2">
  <h1>Classifica</h1>
  <button routerLink="../new-point" class="btn btn-primary">Segna</button>
</div>

<ul class="list-group">
  <li
    *ngFor="let rank of ranking; let i = index"
    class="list-group-item"
    (click)="onClickRank(i)"
    >
    <div
      class="d-flex justify-content-between"
      [class.first]="i === 0" >
      <div class="detail">
        {{i+1}}.
        {{rank.person.name}}
      </div>
      <div class="pointsCount">
        {{rank.pointsCount}}
      </div>
    </div>
    <div *ngIf="i === 0 && firstRankOpened" class="pt-1 text-center">
      <button class="btn btn-danger" (click)="onDeclareWinner()">
          <fa name="trophy"></fa> Incorona
      </button>
    </div>
  </li>
</ul>